* {
  padding: 0;
  margin: 0;
}
body {
  background: #dda15e;
}
.titulo {
  text-align: center;
  color: #582f0e;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
  padding: 15px;
  margin: 10px;
}
ul {
  list-style-type: none;
  background-color: #e9e2dd;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border-radius: 25px;
  text-align: center;
}
li {
  display: inline-block;
}
li a {
  display: block;
  text-decoration: none;
  color: rgb(119, 62, 5);
  text-align: center;
  padding: 25px;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
}
li a:hover {
  background-color: #ddbea9;
  border: dashed;
  border-radius: 10px;
  padding: 20px;
}

.iconoYoutube {
  text-align: center;
  float: left;
  margin: -144px -127px;
  padding: 40px 80px;
  background-color: rgb(170, 62, 62);
  border-radius: 30px;
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
}
.iconoYoutube:hover {
  background-color: rgb(189, 40, 40);
}
.Icono_Instagram {
  text-align: center;
  display: inline-block;
  margin: 154px 98px;
  padding: 40px 80px;
  background-color: rgb(173, 48, 111);
  border-radius: 30px;
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
}

.Icono_Instagram:hover {
  background-color: rgb(190, 23, 107);
}

.Icono_faceboock {
  text-align: center;
  float: right;
  margin: -108px -147px;
  padding: 40px 80px;
  background-color: rgb(55, 134, 204);
  border-radius: 30px;
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
}
.Icono_faceboock:hover {
  background-color: rgb(22, 97, 163);
}

.cuerpo {
  background-color: #ffffff;
  border-radius: 80px;
  padding: 240px;
  margin: 60px 60px 1px 100px;
}
img {
  width: 160px;
  height: 130px;
}

.titlediv {
  text-align: center;
}

a {
  text-decoration: none;
}

.tituloPrincipal {
  font-size: 35px;
  text-align: center;
  color: #9b2226;
  font-family: "Comic Sans MS", "Comic Sans", "cursive";
  margin: 40px;
}
