*{
    padding:0;
    margin:0;
}
body {
  background: #dda15e;
}
h1 {
    text-align: center;
    color: #582f0e;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
ul {
  list-style-type: none;
  background-color: #e9e2dd;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border-radius: 25px;
  text-align: center;
}
li {
  display: inline-block;
}
li a {
  display: block;
  text-decoration: none;
  color: rgb(119, 62, 5);
  text-align: center;
  padding: 25px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
li a:hover {
  background-color: #ddbea9;
  border: dashed;
  border-radius: 10px;
  padding: 20px;
}

.IconoYoutube {
  text-align: left;
  padding: 10px;
  margin: 10px;
  background-color: aliceblue;
}
.Icono_Instagram {
  text-align: center;
  margin: 5px;
  padding: 5px;
  background-color: rgb(26, 106, 175);
}
.Icono_faceboock {
  text-align: right;
  padding: 10px;
  margin: 10px;
  background-color: rgb(17, 170, 30);
}

