body{
    background: #dda15e;
}
h1 {
    text-align: center;
    color: #582f0e;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
ul{
    list-style-type: none;
    background-color: #ffe8d6;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-radius: 25px;
    text-align: center;
}
li{
    display: inline-block;
}
li a{
    display : block;
    text-decoration: none;
    color: rgb(119, 62, 5);
    text-align: center;
    padding: 25px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    
}
li a:hover{
    background-color: #ddbea9;
    border: dashed;
    border-radius: 10px;
    padding: 20px;  
}